In [ ]:
#빈칸 제거해야함
#3000넘는거 없애야함
#shape안맞는거 없애야함

In [1]:
import librosa
import numpy as np
import matplotlib.pyplot as plt
import IPython.display
import librosa.display
import cv2
import pandas as pd
import json
import re
from pandas import json_normalize
import warnings

warnings.filterwarnings(action='ignore')

In [2]:
with open('song_meta.json',encoding='UTF8') as f:
    meta = json.load(f)

meta = pd.DataFrame(meta)

In [3]:
def Song_list(length1=int ,length2=int,length3=int):
    for num in range(length1,length2):
        k = np.load(f"./arena_mel_2/arena_mel/{length3}/{num}.npy")
        if k.shape == (48,1876):
            a = np.min(k)
            a_list.append(a)
            s_list.append(k)
            continue
        else:
            print(num)
            j.append(num)
            pass

In [106]:
j = []
a_list = []
s_list = []
Song_list(53000,54000,53)
Song_array = np.stack(s_list, axis=0)

#숫자 다음에 쉼표를 붙이면 튜플
a = (1,)
b = Song_array.shape
c = b+a
Song_array = Song_array.reshape(c)
Song_array = Song_array + 100

53209
53259
53912

In [107]:
meta_1 = meta[53000:54000]
for i in j:
    meta_1 = meta_1.drop(i,axis=0)

meta_1 = meta_1.reset_index(drop=True)
meta_1 = meta_1.drop(['song_gn_dtl_gnr_basket','issue_date','album_name','album_id','artist_id_basket',
                    'artist_name_basket'],axis='columns')

meta_1['test'] = ''
for i in range(len(meta_1['song_gn_gnr_basket'])):
    j = meta_1['song_gn_gnr_basket'][i]
    for k in j:
        meta_1['test'][i] = k
    if j == '':
        print(i)
        continue
        
none = meta_1.index[meta_1['test']=='']
for a in none:
    meta_1 = meta_1.drop(a,axis=0)
meta_1 = meta_1.reset_index(drop=True)
        
        
meta_1['test_2']=''
for i in range(len(meta_1)):
    a = meta_1['test'][i]
    meta_1['test_2'][i] = re.findall(r'\d+',a)
for i in range(len(meta_1['test_2'])):
    meta_1['test_2'][i] = list(map(int, meta_1['test_2'][i]))
for i in range(len(meta_1)):
    a = meta_1['test_2'][i][0]
    meta_1['test_2'][i]=a

result_df = meta_1    

delete0 = result_df.index[result_df['test_2']==1900]

delete1 = result_df.index[result_df['test_2']==2000]

delete2 = result_df.index[result_df['test_2']==2100]

delete3 = result_df.index[result_df['test_2']==2200]

delete4 = result_df.index[result_df['test_2']==2300]

delete5 = result_df.index[result_df['test_2']==2400]

delete6 = result_df.index[result_df['test_2']==2500]

delete7 = result_df.index[result_df['test_2']==2600]

delete8 = result_df.index[result_df['test_2']==2700]

delete9 = result_df.index[result_df['test_2']==2800]

delete10 = result_df.index[result_df['test_2']==2900]

delete11 = result_df.index[result_df['test_2']==9000]

delete12 = result_df.index[result_df['test_2']==3000]

delete_all = []

none = list(none)
none.sort(reverse=True)
none
for i in none:
    Song_array = np.delete(Song_array, i, axis=0)

for i in range(0,13):
    globals()['delete{}'.format(i)] = list(globals()['delete{}'.format(i)])

delete_all = delete0+delete1+delete2+delete3+delete4+delete5+delete6+delete7+delete8+delete9+delete10+delete11+delete12    
delete_all.sort(reverse=True)

for a in delete_all:
    meta_1 = meta_1.drop([a])
meta_1 = meta_1.reset_index(drop=True)

for i in delete_all:
    Song_array = np.delete(Song_array, i, axis=0)

In [108]:
Song_array.shape

(907, 48, 1876, 1)

In [109]:
len(meta_1)

907

In [110]:
np.save('./Song_array_53',Song_array)

In [111]:
meta_1.to_excel('./meta_53.xlsx', index=False)

In [44]:
len(pd.value_counts(meta_1['test_2']))

17

In [45]:
pd.value_counts(meta_1['test_2'])

900     84
100     82
1600    82
1100    79
1000    78
1700    67
1300    60
1800    53
1200    50
600     43
1500    41
300     36
800     30
200     29
1400    21
400     20
700     15
Name: test_2, dtype: int64

In [50]:
# genre_gn_all = pd.read_json('genre_gn_all.json', typ = 'series')
# # 장르코드 : gnr_code, 장르명 : gnr_name
# genre_gn_all = pd.DataFrame(genre_gn_all, columns = ['gnr_name']).reset_index().rename(columns = {'index' : 'gnr_code'})
# genre_gn_all

In [185]:
# plt.imshow(Song3)

In [184]:
# np.savetxt('testSong3.out', Song3, delimiter=',')

In [183]:
# plt.figure(figsize=(20, 10))
# librosa.display.specshow(librosa.power_to_db(Song3, ref=np.max), y_axis='mel', sr=16000, hop_length=256, x_axis='time')
# plt.colorbar(format='%+2.0f dB')
# plt.title('Mel-Spectrogram')
# plt.tight_layout()
# plt.savefig('./image/Mel-Spectrogram example.png')
# plt.show()
# #sr=16000인 이유는 애초에 생성할때 30초짜리를 16000