In [1]:
import librosa
import numpy as np
import matplotlib.pyplot as plt
import IPython.display
import librosa.display
import cv2
import pandas as pd
import json
import re

In [5]:
name_list = []
for i in range(50,54):
    name = 'meta_'+str(i)
    globals()[name] = pd.read_excel(f'./meta_{i}.xlsx')
    name_list.append(name)

In [6]:
meta_50_to_53 = pd.concat([meta_50,meta_51,meta_52,meta_53])
meta_50_to_53 = meta_50_to_53.reset_index(drop=True)
meta_50_to_53

,song_name,song_gn_gnr_basket,id,test,test_2
0,겨울의 온도,"['GN0500', 'GN0600']",50000,GN0600,600
1,유리창에 그린 안녕,['GN0200'],50001,GN0200,200
2,"Tchaikovsky: Violin Concerto In D Major, Op.35...",['GN1600'],50003,GN1600,1600
3,두산 베어스 락앤롤 (Doosan Bears Rock And Roll) (Feat....,['GN0600'],50004,GN0600,600
4,WOW,"['GN2500', 'GN0200']",50005,GN0200,200
...,...,...,...,...,...
3548,좌절금지,"['GN0500', 'GN0600']",53995,GN0600,600
3549,Lion Tamer,['GN1400'],53996,GN1400,1400
3550,영웅주의,['GN0100'],53997,GN0100,100
3551,Love ! (Feat. kenessi),['GN0400'],53998,GN0400,400
3552,Close To Me,['GN1300'],53999,GN1300,1300

In [7]:
meta_50_to_53.to_excel('./meta_50_to_53.xlsx', index=False)

In [8]:
for i in range(50,54):
    name = 'Song_array'+str(i)
    globals()[name] = np.load(f'./Song_array_{i}.npy')

In [9]:
Song_array_50_to_53 = np.vstack([Song_array50,Song_array51,Song_array52,Song_array53])
Song_array_50_to_53.shape

(3553, 48, 1876, 1)

In [ ]:
Song_array_50_to_53 = np.vstack([Song_array,Song_array16,
                              Song_array17,Song_array18,Song_array19,])
Song_array_35_to_19.shape

In [ ]:
Song_array_20_to_24 = np.vstack([Song_array20,Song_array21,Song_array22,Song_array23,Song_array24])
Song_array_20_to_24.shape

In [ ]:
Song_array_25_to_29 = np.vstack([Song_array25,Song_array26,
                              Song_array27,Song_array28,Song_array29,])
Song_array_25_to_29.shape

In [10]:
np.save('./Song_array_50_to_53',Song_array_50_to_53)

In [ ]:
np.min(Song_array)

In [ ]:
with open('song_meta.json',encoding='UTF8') as f:
    meta = json.load(f)

meta = pd.DataFrame(meta)
meta

In [ ]:
len(pd.value_counts(meta_1['test_2']))

In [ ]:
meta_1 = meta[:1000]
meta_1 = meta_1.drop(700, axis=0)
meta_1 = meta_1.drop(839, axis=0)

In [ ]:
meta_1 = meta_1.reset_index(drop=True)
meta_1 = meta_1.drop(['song_gn_dtl_gnr_basket','issue_date','album_name','album_id','artist_id_basket',
                    'artist_name_basket'],axis='columns')

In [ ]:
meta_1['test'] = ''
for i in range(len(meta_1['song_gn_gnr_basket'])):
    j = meta_1['song_gn_gnr_basket'][i]
    for k in j:
        meta_1['test'][i] = meta_1['test'][i] +k

In [ ]:
meta_1['test_2']=''
for i in range(len(meta_1)):
    a = meta_1['test'][i]
    meta_1['test_2'][i] = re.findall(r'\d+',a)
# a = meta_1['test'][14]
# b = re.findall(r'\d+',a)
# meta_1['test_2'] =

In [ ]:
meta_1['test_2'][14]

In [ ]:
for i in range(len(meta_1['test_2'])):
    meta_1['test_2'][i] = list(map(int, meta_1['test_2'][i]))

In [ ]:
with open('genre_gn_all.json',encoding='UTF8') as f:
    genre = json.load(f)

len(genre)

In [ ]:
plt.imshow(Song3)

In [ ]:
np.savetxt('testSong3.out', Song3, delimiter=',')

In [ ]:
plt.figure(figsize=(20, 10))
librosa.display.specshow(librosa.power_to_db(Song3, ref=np.max), y_axis='mel', sr=16000, hop_length=256, x_axis='time')
plt.colorbar(format='%+2.0f dB')
plt.title('Mel-Spectrogram')
plt.tight_layout()
plt.savefig('./image/Mel-Spectrogram example.png')
plt.show()
#sr=16000인 이유는 애초에 생성할때 30초짜리를 16000